*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;*/
}
.navegacion{
    width: 100%;
    margin: 30px auto;
    background: #005883;
    text-align: center;
}
.navegacion ul{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 12px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
    width: 180px;
    
}
.menu li a:hover{
    background-color: #F0B429;
    transition: all .3s;
}
.submenu{
    position: absolute;
    background: #005883;
    width: 180px;
    display: none;
}
.submenu li a{
    display: block;
    padding: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
.menu li:hover .submenu{
    display: block;
}