.titulo{
    text-align: center;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    color: #005883;

}
.body{
    font-family: 'Franklin Gothic Italic', 'Arial Narrow', Arial, sans-serif;
    background-color: #b3b3b3;
}
.tituloBienvenida{
    text-align: center;
    font-size: 170%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #005883;
}
.contenidoBienvenida{
    text-align: justify;
    font-size: 120%;
    width: 95%;    
    padding:10px;    
}
.mapa iframe{
    width: 90%;
    padding-left: 40px; 
}


* {
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    
}
.navegacion{
    width: 100%;
    margin: 30px auto;
    background: #005883;
    text-align: center;
    margin: 0;
    padding: 0; 
    
}

.navegacion ul{
    list-style: none; 
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 12px;
    color: white;    
    text-decoration: none;
    font-size: 20px;
    width: 150px;    
}

.menu li a:hover{
    background-color: #F0B429;
    transition: all .3s;
}
.submenu{
    position: absolute;
    background: #005883;
    width: 175px;
    display: none;
}
.submenu li a{
    display: block;
    padding: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
.menu li:hover .submenu{
    display: block;
}
.logo{
    height: 80px;
    width: 105px;   
}
.tablaObjetivosContenido{
    width: 90%;
    margin: 40px;
    padding: 0;
    border: 1px solid black;
    
}
li{
    line-height: 20px;
    text-decoration: none;    
}

footer {
    color: white;
    background-color: #F47920;    
    font-size: 17px;
    bottom: 0px;
    /*left: 0px;*/
    height: 40px;
    width: 100%;
    text-align: center;
    
    
}

.tituloTabla{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 140%;
    padding: 0;
}
#titulocontenido{
    font-size: 170%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #005883;
    width: 30%;
    padding-left: 15px;
}
.tituloactividad{
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #005883;
}
.actividad iframe{
    width: 95%;
    padding-left: 50px;
    
}
#referencias{
    font-weight: bold;
    text-decoration: underline;    
}
#contenido{
    text-align: justify;
    line-height: 25px;
}
.autor{
    width: 100%;
    text-align: left;
    padding: 200px;
    border-collapse: collapse;
    margin-top: 50px;
    margin-bottom: 190px;
}
#datospersonales{
    text-align: center;
    font-size: 140%;
    background: #808080;
    color: white;
}
#datoscontacto{
    text-align: center;
    font-size: 140%;
    background: #808080;
    color: white;
}
.autor tr{
    height: 40px;
}
.autor td{
    font-size: 120%;
    padding-left: 10px;
    color: #005883;
}
.video1{
    padding: 15px;
}
.tabla{
    width: 90%;
    margin-left: 45px;
}
.tabla td{
    padding: 15px;
    
}
.siguienteactividad a{
    text-decoration: none;
    margin-bottom: 50px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: dashed;
    border-color: black;
}
.siguienteactividad {
    padding: 22px;
    display: block;
    text-align: center;
    align-items: center;
    font-size: 150%;
    
}
.siguienteactividad a:hover{
    background-color: #F0B429;
    transition: all .3s;
}
.matriz a{
    text-decoration: none;
    margin-bottom: 50px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: dashed;
    border-color: black;
}
.matriz {
    padding: 30px;
    display: block;
    text-align: center;    
    align-items: center;
    font-size: 150%;
    
}
.matriz a:hover{
    background-color: #F0B429;
    transition: all .3s;
}
.matrizPdf{    
    padding-left: 100px;
}